# Environment variables
.env

# Python virtual environment
venv/
.venv/
env/

# Python cache files
__pycache__/
*.pyc

# VSCode specific files
.vscode/

# Log files
*.log
*.log.*

# Bot runtime files
bot_status.json
bot_persistence.pickle
*.session